
.about {
    /* height: 400px; */
    padding: 4em 2em;
    background: #fafaff;
    color: rgb(32, 41, 69);
    display: flex;
    align-items: center;
}

.about-inner-wrap {
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-photo {
    background: url('./assets/daniel-russell.jpg');
    height: 250px;
    width: 250px;
    min-width: 200px;
    /* border-radius: 50%; */
    background-position: center;
    background-size: cover;
    /* box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6); */
}

.about-text {
    margin: 0 0 0 5em;
    max-width: 500px;
}

@media (max-width: 900px) {
    .about-inner-wrap {
        flex-direction: column;
    }
    .about-text {
        margin: 2em 0 0 0;
    }
}
