.portfolio {
    background: #202945;
    color: #FFF;
    padding: 1em 0 5em 0;
}

.portfolio-inner-wrap {
    max-width: 1200px;
    margin: auto;
}
.portfolio-title {
    text-align: center;
    font-size: 3em;
}
#portfolio-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.portfolio-item {
    width: 200px;
    height: 200px;
    margin: 1em;
    background-size: cover;
    box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
    transition: transform .1s;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

@media (max-width: 800px) {
    .portfolio-item {
        width: 325px;
        height: 325px;
    }
}

.portfolio-photo-desktop {
    max-height: 270px;
}
.portfolio-photo-mobile {
    box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
    width: 132px;
}
